/*
* flex布局 第一个字母为主轴
*/

// row flex-start
.rowSS {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.rowSC {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rowSE {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

// row center
.rowCS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.rowCC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rowCE {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

// row flex-end
.rowES {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.rowEC {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.rowEE {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

// row space-between
.rowBS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.rowBC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rowBE {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

// row space-around
.rowAS {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.rowAC {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.rowAE {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

// row space-evenly
// .rowEVS {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: flex-start;
// }
// .rowEVC {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: center;
// }
// .rowEVE {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: flex-end;
// }

/*column*/
// column flex-start
.columnSS {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.columnSC {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.columnSE {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

// column center
.columnCS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.columnCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columnCE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

// column flex-end
.columnES {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.columnEC {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.columnEE {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

// column space-between
.columnBS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.columnBC {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.columnBE {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

// column space-around
.columnAS {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.columnAC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.columnAE {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

// column space-evenly
// .columnEVS {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: flex-start;
// }
// .columnEVC {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
// }
// .columnEVE {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: flex-end;
// }
